<form class="mt-4" method="POST" action="/products/{{products._id}}?_method=PATCH">
    <h3 class="mb-5 text-center font-weight-bold">CẬP NHẬT SẢN PHẨM</h3>
    <div class="form-group">
        <label for="name" class="font-weight-bold">Tên sản phẩm</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Nhập tên sản phẩm"
            value="{{products.name}}" />
    </div>
    <div class="form-group mt-3">
        <label for="price" class="font-weight-bold">Ảnh</label>
        <br>
        <img src="{{products.img}}" alt="{{products.name}}" height="200">
    </div>
    <div class="form-group mt-3">
        <label for="description" class="font-weight-bold">Mô tả</label>
        <textarea type="text" class="form-control" name="description" id="description"
            placeholder="Nhập mô tả">{{products.name}}</textarea>
    </div>
    <div class="form-group mt-3">
        <label for="price" class="font-weight-bold">Giá bán</label>
        <input type="text" class="form-control" name="price" id="price" placeholder="Nhập giá"
            value="{{products.price}}" />
    </div>
    <button type="submit" class="btn btn-primary mt-3 float-right font-weight-bold">LƯU</button>
</form>