<div class="mt-4">
    <h3 class="font-weight-bold text-center">SẢN PHẨM ĐÃ XÓA</h3>
    <div class="mt-4">
        <a href="/products/me"><i class="icon-circle-arrow-left"></i> Quay lại</a>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Ảnh</th>
                <th scope="col">Tên sản phẫm</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Ngày tạo</th>
                <th scope="col">Ngày cập nhật</th>
                <th scope="col" colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td> <img class="card-img-top" src="{{this.img}}" alt="{{this.name}}" /></a></td>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.createdAt}}</td>
                <td>{{this.updatedAt}}</td>
                <td><a href="" class="btn btn-link btn-restore" data-id="{{this._id}}"><i class="icon-undo"></i></a>
                </td>
                <td><a href="/products/delete" class="btn" data-toggle="modal" data-target="#productModal" data-id="{{this._id}}"><i class="icon-trash"></i></a></td>
            </tr>
            {{else}}
            <tr>
                <td colspan="6" class="text-center">Bạn chưa đăng sản phẩm nào. <a href="/products/create">Đăng sản
                        phẩm</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Xóa sản phẩm {{this.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa sản phẩm này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-delete-product">Xóa vĩnh viễn</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<form name="form-delete-product" method="POST"></form>
<form name="form-restore-product" method="POST"></form>

<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    var productId;
    var deleteProductForm = document.forms['form-delete-product'];
    var restoreProductForm = document.forms['form-restore-product'];

    var btnDeleteProduct = document.getElementById('btn-delete-product');
    var restoreBtn = $('.btn-restore');

    document.addEventListener('DOMContentLoaded', function () {
        $('#productModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            productId = button.data('id');
        });
    });

    btnDeleteProduct.onclick = function () {
        deleteProductForm.action = '/products/force/' + productId + '?_method=DELETE';
        deleteProductForm.submit();
    }

    restoreBtn.click(function (e) {
        e.preventDefault();
        var productId = $(this).data('id');

        restoreProductForm.action = '/products/restore/' + productId + '?_method=PATCH';
        restoreProductForm.submit();
    })
</script>